@use "../helpers" as *;

.hero {
    padding-block: var(--section-padding-y);

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: fluid(48, 24);
        align-items: center;
    }

    &__title {
        color: var(--color-primary);
        text-align: center;

        &-letter {
            color: var(--color-accent-alt-2);

            &--green {
                color: var(--color-secondary-alt-2);
            }
        }
    }

    &__description {
        text-align: center;
        font-weight: 300;
    }
}
